@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900');
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;

$h1: 3.6rem;
$h2: 3rem;
$h3: 1.6rem;
$h4: 1.3rem;
$h5: 1.2rem;