@import url("https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
.header, .main-menu, .card__top, .card__down, .feedBack, .feedBack__block, .team__people, .logo, .welcome, .tool, .toolItem, .count, .countBlock, .service .wrapper, .testimonails .wrapper, .footer .wrapper, .logo-footer, .nav-footer, .link-social, .link-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main-menu, .nav-footer, .link-social ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.hero .wrapper, .easy .wrapper, .service .wrapper, .testimonails .wrapper, .team .wrapper, .contact .wrapper, .footer .wrapper {
  width: 80%;
  position: relative;
  margin: 0 auto; }

.btn {
  display: block;
  height: 55px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 5px 1rem #000;
          box-shadow: 0px 5px 1rem #000;
  background-color: #fff;
  cursor: pointer; }

.team .socialNail0, .team .socialNail1, .team .socialNail2, .team .socialNail3, .team .socialNail4 {
  margin: 30px auto;
  padding: 0;
  height: 20px;
  width: 35px;
  display: inline-block;
  background-image: url("../../Dart/img/socialicon.png");
  background-repeat: no-repeat; }

.header {
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header.sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 30px 10vw;
  background: #1de9b6;
  z-index: 2000; }

.nav-toggle {
  margin-left: auto;
  padding: 2px;
  cursor: pointer;
  height: 3rem;
  width: 4rem;
  z-index: 200; }

.nav-toggle:hover {
  opacity: 0.8; }

.nav-toggle:hover .nav-toggle-bar::before {
  margin-top: -1.2rem; }

.nav-toggle:hover .nav-toggle-bar::after {
  margin-top: 1.2rem; }

.nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::before,
.nav-toggle .nav-toggle-bar::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  content: '';
  height: 0.2rem;
  width: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.nav-toggle .nav-toggle-bar {
  margin-top: 0; }

.nav-toggle .nav-toggle-bar::before {
  margin-top: -1rem; }

.nav-toggle .nav-toggle-bar::after {
  margin-top: 1rem; }

.nav-toggle.expanted .nav-toggle-bar {
  background: transparent; }

.nav-toggle.expanted .nav-toggle-bar::before,
.nav-toggle.expanted .nav-toggle-bar::after {
  background: white;
  margin-top: 0; }

.nav-toggle.expanted .nav-toggle-bar::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.nav-toggle.expanted .nav-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-menu {
  color: #fff; }
  .main-menu li {
    margin-left: 50px; }

body.expanted {
  overflow-y: hidden; }

.nav-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }

.nav-menu.expanted {
  top: 0;
  opacity: 1;
  background: #1de9b6;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  z-index: 30;
  overflow: hidden; }

.nav-menu.expanted > .main-menu {
  font-size: 3.6rem;
  line-height: 2;
  position: absolute;
  top: 50%;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.video-container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

video {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.controls {
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 40px;
  background-color: rgba(133, 138, 146, 0.8);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.controls.show {
  bottom: 0; }

.bar {
  height: 5px;
  width: 0;
  background: #1de9b6; }

#play-stop {
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer; }

#play-stop::before {
  color: #000;
  content: "\f144";
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit; }

#play-stop.play::before {
  content: "\f144"; }

#play-stop.stop::before {
  content: "\f28b"; }

.cards-section {
  margin: 0 auto;
  max-width: 800px; }

.card {
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.3); }
  .card__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer; }
  .card__down {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 2s ease;
    transition: all 2s ease; }
    @media screen and (min-width: 767px) {
      .card__down {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .card__down.show {
    height: auto; }
  .card__icon {
    margin-right: 25px; }
  .card__arrow {
    margin-left: auto; }
  .card__img {
    margin: 0 auto;
    width: 100%;
    max-height: 155px; }
    @media screen and (min-width: 767px) {
      .card__img {
        max-width: 45%;
        margin: 0;
        -ms-flex-item-align: center;
            align-self: center; } }
  @media screen and (min-width: 767px) {
    .card__text {
      max-width: 45%; } }

.feedBack {
  position: relative;
  margin: 60px auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .feedBack__block {
    margin-bottom: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .feedBack__avatar {
    display: none; }
    @media screen and (min-width: 767px) {
      .feedBack__avatar {
        -ms-flex-item-align: center;
            align-self: center;
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto; } }
  .feedBack__text {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: white; }
    .feedBack__text h5 {
      margin: 0; }
    .feedBack__text p {
      margin: 0;
      color: #d1d9dd;
      font-style: italic; }
  .feedBack__arrow {
    font-size: 30px;
    position: absolute;
    right: 48%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff; }
  .feedBack__arrow.arrowUp {
    top: -30px; }
  .feedBack__arrow.arrowDown {
    bottom: -30px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.team__people {
  margin: 0 auto; }
  .team__people h5 {
    font-size: 1.2rem; }
  @media screen and (min-width: 767px) {
    .team__people {
      min-height: 40vh;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; } }

.team__block {
  border: 1px solid red;
  display: none; }
  @media screen and (min-width: 767px) {
    .team__block {
      display: block;
      width: 100px;
      height: auto;
      margin-left: 20px;
      -ms-flex-item-align: center;
          align-self: center;
      -webkit-filter: blur(2px) grayscale(50%);
              filter: blur(2px) grayscale(50%); } }

.team__block.active {
  display: block; }
  @media screen and (min-width: 767px) {
    .team__block.active {
      height: auto;
      width: auto;
      -webkit-filter: blur(0) grayscale(0);
              filter: blur(0) grayscale(0); } }

.team .socialNail0 {
  border: 1px solid red;
  background-position: 0px 0; }

.team .socialNail1 {
  border: 1px solid red;
  background-position: -44px 0; }

.team .socialNail2 {
  border: 1px solid red;
  background-position: -88px 0; }

.team .socialNail3 {
  border: 1px solid red;
  background-position: -132px 0; }

.team .socialNail4 {
  border: 1px solid red;
  background-position: -176px 0; }

.contact {
  text-align: center;
  color: #061e37; }
  .contact__title {
    font-size: 3rem; }

/*.contact {
    &__form {
        @extend %flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (min-width: 767px){
            flex-direction: row;
        }
    }
    &__field {
        width: 100%;
        
        @media screen and (min-width: 767px){
            width: 45%;
        }
    }
    &__button {
        margin: 10% auto;
        width: 55%;
        @media screen and (min-width: 767px){
            margin: 0; 
            margin-left: auto;
            width: 35%;
        }
    }
}
@media screen and (min-width: 767px){
    .area {
        width: 100%;
    }
}
input, textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid $dark;
    border-radius: 5px;
    background-color: transparent;
}
label {
    position: absolute;
    padding: 20px;
    font-size: 14px;
}
.contact__radio {
    @extend %flex;
    position: relative;
    align-items: center;
    input[type=checkbox]{
        opacity: 0;
        width: 10px;
       height: 10px;
       margin-right: 15px;
       z-index: 10;
   }
   .check {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    background: url('../../Dart/img/unchecked.png') center center;
    background-size: cover;
    }   
}
.contact__radio input:checked ~ .check {
    background: url('../../Dart/img/checked.png') center center no-repeat;
    background-size: 25px;
 }
*/
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  font-family: "Raleway", sans-serif;
  width: 100vw; }

section {
  position: relative; }

a {
  text-decoration: none;
  color: #fff; }

a:focus {
  font-weight: 600; }

a:hover, a:focus {
  color: #061e37;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-color: #061e37; }

p {
  line-height: 24px; }

.btn {
  background-color: #fff; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.8); }
  .btn:focus {
    background-color: #999999;
    outline: none; }

.btn-secondary {
  background-color: #061e37;
  color: #fff; }
  .btn-secondary:hover {
    background-color: rgba(6, 30, 55, 0.8); }
  .btn-secondary:focus {
    background-color: black;
    outline: none; }

.btn-accept {
  background-color: #1de9b6;
  color: #fff; }
  .btn-accept:hover {
    background-color: rgba(29, 233, 182, 0.8); }
  .btn-accept:focus {
    background-color: #053529;
    outline: none; }

.btn:hover, .btn-focus {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.logo {
  max-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .logo p {
    font-weight: 400;
    line-height: 1rem;
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase; }
  .logo span {
    font-weight: 800; }

html {
  font-size: 10px; }

/*----------------HERO SECTION-----------*/
.hero {
  position: relative;
  color: #fff;
  border: 1px solid #1de9b6;
  background: url("../../Dart/img/header.png") center center no-repeat;
  background-size: cover; }

.hero .wrapper {
  position: relative;
  overflow: hidden;
  min-height: 80vh; }

.main-menu {
  color: #fff; }
  .main-menu li {
    margin-left: 50px; }

.nav-button {
  display: none; }

.nav-button {
  padding: 7px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px; }

.welcome {
  margin: 1.8rem auto;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.describition {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .describition h1 {
    font-size: 3.6rem;
    text-transform: uppercase; }
  .describition h5 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px; }
  .describition .btn {
    width: 55%;
    margin: 30px auto; }

.video-container {
  display: none; }

/*-------------EASY SECTION-----------*/
.easy .wrapper {
  margin-bottom: 50px;
  text-align: center;
  color: #d1d9dd; }
  .easy .wrapper h2 {
    font-size: 3rem;
    color: #061e37; }
  .easy .wrapper h3 {
    font-size: 1.6rem;
    color: #d1d9dd; }

.tool {
  margin: 80px auto 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.toolItem {
  margin-bottom: 50px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  .toolItem h4 {
    font-size: 1.3rem;
    color: #061e37; }

.btn-accept {
  margin: 0 auto;
  width: 55%; }

/*-------------COUNT SECTION------*/
.count {
  position: relative;
  color: #fff;
  font-weight: bold; }

.countBlock {
  min-width: 50%;
  height: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.svgIcon {
  margin-right: 25px; }

.business {
  background-color: #80d8ff; }

.download {
  background-color: #82b1ff; }

.install {
  background-color: #b388ff; }

.users {
  background-color: #ea80fc; }

/*----------SERVICE SECTION--------*/
.service .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.description-service {
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center; }
  .description-service h2 {
    font-size: 3rem; }
  .description-service p {
    color: #d1d9dd; }

/*----  TESTOMNAILS SECTION -----*/
.testimonails {
  background: url("../../Dart/img/testimonailsBG.png") center center no-repeat;
  background-size: cover; }

.testimonails .wrapper {
  padding: 30px 0; }

.testimonails_desc {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center; }
  .testimonails_desc h2 {
    font-size: 3rem; }
  .testimonails_desc .btn-secondary {
    margin: 10px auto;
    width: 160px; }

/*------------TEAM SECTION----------*/
.team .wrapper {
  margin: 0 auto;
  text-align: center; }
  .team .wrapper h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #061e37; }

/* 
.teamAvatar {
    margin: 2em 0;
}
.avatarPhoto {
    width: 90%;
    max-width: 90vh;
}*/
/*-------------CONTACT SECTION----------*/
.contact .wrapper {
  padding: 0;
  border: 1px solid red; }

/*      .sub-form {
                @extend %flex;
                flex-direction: column;
                justify-content: space-between;
                .btn {
                    margin: 10% auto;
                    width: 55%;  
                }
            }
.field-wrap {
            width: 100%;
    label {
        position: absolute;
        padding: 20px;
        font-size: 14px;
    }
                        input, textarea{
                            width: 100%;
                            height: 50px;
                            margin-bottom: 20px;
                            border: 1px solid $dark;
                            border-radius: 5px;
                            background-color: transparent;
                        }
}
.field-radio {
    @extend %flex;
    position: relative;
    align-items: center;
    input[type=checkbox]{
       opacity: 0;
       width: 10px;
       height: 10px;
       margin-right: 15px;
       z-index: 10;
   }
   .check {
       display: inline-block;
       position: absolute;
       width: 25px;
       height: 25px;
       top:50%;
       transform: translateY(-50%);
       left: 0;
       background: url('../../Dart/img/unchecked.png') center center;
       background-size: cover;
   }
}
.field-radio input:checked ~ .check {
   background: url('../../Dart/img/checked.png') center center no-repeat;
   background-size: 25px;
}*/
/*---------------FOOTER SECTION----------*/
.footer {
  background-color: #061e37;
  color: #fff; }

.footer .wrapper {
  padding: 10% 0; }

.logo-footer {
  margin-bottom: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .nav-footer li {
    margin-left: 50px;
    margin-bottom: 5px; }

.link-social {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .link-social ul {
    margin: 10% auto; }
    .link-social ul li {
      margin-right: 10px;
      color: #858a92; }

.link-social .social {
  margin: 0 auto; }

@media screen and (min-width: 767px) {
  .hero .wrapper {
    width: 80%; }
  .welcome {
    padding: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .describition-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .describition-button .btn {
      width: 35%; }
  .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .easy .wrapper {
    width: 65%; }
    .easy .wrapper .btn-accept {
      width: 35%; }
  /*
.teamAvatar {
                        width: 100px;
                        height: auto;
                        margin-left: 20px;
                        align-self: center;
                        filter: blur(2px) grayscale(50%);
    .team-text, .social {
        display: none;
    }
}

.teamAvatar.active {
                            height: auto;
                            width: auto;
                            filter: blur(0) grayscale(0);
    .avatarPhoto {
        height: 160px;
        width: 160px;
        border: 25px solid $primary;
        border-radius: 50%;
        box-shadow: 0 0 5px 1px $lighter;
    }
    .team-text, .social {
        position: absolute;
        display: block;
       
        //left: 0;
        //transform: translateY(50%);
    }
    .team-text::after {
        content: ' ';
        clear: both;
    }
}*/
  section.contact {
    /*.wrapper {
             .sub-form {
                 flex-direction: row;
                 .field-wrap {
                     width: 45%;
                 }
                 .field-wrap.area {
                     width: 100%;
                 }
                 .contact-button {
                     margin: 0; 
                     margin-left: auto;
                     width: 35%;
                 }
             }
         }*/ }
  footer.footer .wrapper .logo-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  footer.footer .wrapper .link-social ul, footer.footer .wrapper .link-social .social {
    margin: 0; } }

@media screen and (min-width: 1023px) {
  body {
    font-size: 15px; }
  .nav-toggle {
    display: none; }
  .nav-menu {
    position: static;
    width: auto;
    height: auto;
    opacity: 1; }
  .main-menu, .nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .welcome {
    text-align: left;
    margin: 10% auto;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .welcome .describition, .welcome .video-container {
      max-width: 45%;
      margin: 0; }
    .welcome .btn {
      margin: 0 30px 0 0; }
  .tool {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .toolItem {
    width: 30%; }
  .btn-accept {
    width: 15%; }
  .countBlock {
    min-width: auto; }
  .cards-section {
    width: 800px; }
  .testimonails_desc, .feedBack {
    width: 45%; }
    .testimonails_desc .btn, .feedBack .btn {
      display: inline; }
  .team .wrapper {
    width: 60%; }
  .teamPeople {
    max-width: 560px;
    padding-bottom: 150px; }
  section.contact .wrapper {
    width: 60%; } }
